# Auto detect text files and perform LF normalization
* text=auto
*.nvgt linguist-language=angelScript linguist-detectable=true linguist-vendored=false linguist-generated=false linguist-documentation=false
*.html linguist-detectable=true linguist-vendored=false linguist-generated=false linguist-documentation=false